.user-info {
    width: 30%;
    margin: auto;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
.profile-image {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #008CBA;
}